*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/checkstyle-6.1
/findbugs-2.0.3
/Percolation/bin
Percolation/src/InteractivePercolationVisualizer.java
Percolation/src/PercolationVisualizer.java
log.txt
Percolation/src/resources/CREDITS
Percolation/src/resources/greeting57.png
Percolation/src/resources/greeting57.txt
Percolation/src/resources/heart25.png
Percolation/src/resources/heart25.txt
Percolation/src/resources/input1-no.png
Percolation/src/resources/input1-no.txt
Percolation/src/resources/input1.png
Percolation/src/resources/input1.txt
Percolation/src/resources/input10-no.png
Percolation/src/resources/input10-no.txt
Percolation/src/resources/input10.png
Percolation/src/resources/input10.txt
Percolation/src/resources/input2-no.png
Percolation/src/resources/input2-no.txt
Percolation/src/resources/input2.png
Percolation/src/resources/input2.txt
Percolation/src/resources/input20.png
Percolation/src/resources/input20.txt
Percolation/src/resources/input3.png
Percolation/src/resources/input3.txt
Percolation/src/resources/input4.png
Percolation/src/resources/input4.txt
Percolation/src/resources/input5.png
Percolation/src/resources/input5.txt
Percolation/src/resources/input50.png
Percolation/src/resources/input50.txt
Percolation/src/resources/input6.png
Percolation/src/resources/input6.txt
Percolation/src/resources/input7.png
Percolation/src/resources/input7.txt
Percolation/src/resources/input8-no.png
Percolation/src/resources/input8-no.txt
Percolation/src/resources/input8.png
Percolation/src/resources/input8.txt
Percolation/src/resources/jerry47.png
Percolation/src/resources/jerry47.txt
Percolation/src/resources/s.bmp
Percolation/src/resources/sedgewick60.png
Percolation/src/resources/sedgewick60.txt
Percolation/src/resources/snake101.png
Percolation/src/resources/snake101.txt
Percolation/src/resources/snake13.png
Percolation/src/resources/snake13.txt
Percolation/src/resources/wayne98.png
Percolation/src/resources/wayne98.txt
